[Unit]
Description=Fry Configuration Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/fry/fry-config.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
